:root {
    --darkui-background: rgba(0, 0, 50, 1);
    --darkui-text-regular: rgba(255, 255, 255, 1);
    --darkui-text-regular-2: rgba(0, 0, 0, 1);
    --darkui-accent: #f2ce00;
    --darkui-background-secondary: rgba(26, 26, 71, 1);
    --darkui-fields: rgba(255, 255, 255, 0.1);
    --darkui-fields-2: rgba(255, 255, 255, 0.5);
    --darkui-card: rgba(0, 0, 0, 1);
    --darkui-card-2: rgba(41, 44, 54, 1);
    --darkui-card-3: rgba(33, 3, 18, 1);
    --darkui-card-4: rgba(255, 255, 255, 1);
    --darkui-text-additional: rgba(255, 255, 255, 0.4);

    --darker: rgba(0, 3, 5, 1);
    --some-gold-text: rgba(235, 235, 211, 1);
    --accent-dark-button-text: rgba(17, 21, 34, 1);
    --modal-background: rgba(41, 44, 54, 1);
    --footer-background: rgba(0, 0, 0, 1);
    --footer-links-title: #f2ce00;

    --user-menu-icon-color: #ffc745;

    --footer-warning-background: rgba(0, 0, 50, 1);

    --mobile-menu-navigation-highlighted: rgba(33, 3, 18, 1);
    --mobile-menu-navigation-secondary-background: rgb(109, 109, 109);
    --mobile-menu-navigation-secondary-text: rgb(0, 0, 0);
    --mobile-menu-overlay-background: rgba(33, 3, 18, 0.7);

    --game-card-highlighted-border: rgb(233, 8, 0);
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--darkui-background);
    color: #fff
}

@media(max-width: 992px) {
    body {
        background-color: var(--darkui-background)
    }
}

* {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

button {
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit
}

button,
input {
    color: inherit;
    background: none;
    border: none
}

input {
    font-family: inherit;
    font-size: inherit
}

input:focus {
    outline: none
}

[role=button],
a,
button,
label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none
}

p {
    padding: 0;
    margin: 0
}

:focus-visible {
    outline: none
}

ul,
ul li {
    text-indent: 0;
    list-style: none;
    list-style-type: 0
}

fieldset,
ul,
ul li {
    padding: 0;
    margin: 0
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.container {
    min-width: 0;
    padding: 0 10px;
    flex: 1 1;
    display: flex;
    flex-direction: column
}

@media(max-width: 1700px) {
    .container {
        padding: 0 10px
    }
}

.content {
    flex: 1 1
}

.full-width {
    width: 100%
}

.loader-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, .5);
    z-index: 10
}

.skeleton-loader-parent {
    position: relative;
    overflow: hidden
}

.skeleton-loader-overlay {
    width: 100px;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    z-index: 1;
    transform: skewX(-40deg);
    animation: skeleton-loader-overlay-movement 1s linear infinite
}

@keyframes skeleton-loader-overlay-movement {
    0% {
        transform: skewX(-40deg) translateX(0)
    }

    to {
        transform: skewX(-40deg) translateX(660px)
    }
}

.skeleton-loader-overlay-large {
    width: 200px;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .05), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: skewX(-40deg);
    animation: skeleton-loader-overlay-movement-large 1.5s linear infinite
}

@media(max-width: 992px) {
    .skeleton-loader-overlay-large {
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0))
    }
}

@keyframes skeleton-loader-overlay-movement-large {
    0% {
        transform: skewX(-40deg) translateX(-600px)
    }

    to {
        transform: skewX(-40deg) translateX(1300px)
    }
}

.h1 {
    font-weight: 600;
    font-size: 28px
}

@media(max-width: 992px) {
    .h1 {
        font-size: 18px
    }
}

.h2 {
    font-size: 18px;
    font-weight: 700
}

.body1 {
    font-weight: 500;
    color: #545473
}

.body1,
.body2 {
    font-size: 14px
}

.body2 {
    font-weight: 400;
    color: #fff
}

.highlighted {
    background: linear-gradient(276deg, #4dc9ff, #005ec7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0)
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.vertical-space-lg {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.hidden {
    display: none !important
}

.block {
    display: block !important
}

.flex {
    display: flex !important
}

.inline {
    display: inline !important
}

.relative {
    position: relative
}

@media(max-width: 1600px) {
    .xxl\:hidden {
        display: none !important
    }

    .xxl\:block {
        display: block !important
    }

    .xxl\:flex {
        display: flex !important
    }

    .xxl\:inline {
        display: inline !important
    }
}

@media(max-width: 1400px) {
    .xl-larger\:hidden {
        display: none !important
    }

    .xl-larger\:block {
        display: block !important
    }

    .xl-larger\:flex {
        display: flex !important
    }

    .xl-larger\:inline {
        display: inline !important
    }
}

@media(max-width: 1300px) {
    .xl\:hidden {
        display: none !important
    }

    .xl\:block {
        display: block !important
    }

    .xl\:flex {
        display: flex !important
    }

    .xl\:inline {
        display: inline !important
    }
}

@media(max-width: 768px) {
    .md\:hidden {
        display: none !important
    }

    .md\:block {
        display: block !important
    }

    .md\:flex {
        display: flex !important
    }

    .md\:inline {
        display: inline !important
    }
}

@media(max-width: 992px) {
    .lg\:hidden {
        display: none !important
    }

    .lg\:block {
        display: block !important
    }

    .lg\:flex {
        display: flex !important
    }

    .lg\:inline {
        display: inline !important
    }
}

@media(max-width: 576px) {
    .sm\:hidden {
        display: none !important
    }

    .sm\:block {
        display: block !important
    }

    .sm\:flex {
        display: flex !important
    }

    .sm\:inline {
        display: inline !important
    }
}

@media(max-width: 480px) {
    .xs\:hidden {
        display: none !important
    }

    .xs\:block {
        display: block !important
    }

    .xs\:flex {
        display: flex !important
    }

    .xs\:inline {
        display: inline !important
    }
}

@media(max-width: 360px) {
    .xxs\:hidden {
        display: none !important
    }

    .xxs\:block {
        display: block !important
    }

    .xxs\:flex {
        display: flex !important
    }

    .xxs\:inline {
        display: inline !important
    }
}

.providers-carousel_providersCarouselContainer {
    display: flex;
    align-items: center;
    padding-block:10px;background-color: #1a1a47;
    padding-inline:10px;-ms-overflow-style: none;
    scrollbar-width: none
}

.providers-carousel_providersCarouselContainer::-webkit-scrollbar {
    display: none
}

.providers-carousel_providerItem {
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--darkui-text-regular);
    cursor: pointer;
    max-width: 80px
}

.providers-carousel_providerItem.providers-carousel_active,.providers-carousel_providerItem:hover {
    color: var(--darkui-accent)
}

.providers-carousel_providerItem.providers-carousel_active .providers-carousel_providerItemIcon,.providers-carousel_providerItem:hover .providers-carousel_providerItemIcon {
    border: 1px solid var(--darkui-accent);
    box-shadow: 0 0 6px 0 #da4167
}

.providers-carousel_providerItemIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--darker);
    margin: 0 auto
}

.providers-carousel_providerItemLabel {
    max-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.providers-carousel_providerSlideIcon {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9797a4;
    cursor: pointer
}

.providers-carousel_providerSlideIcon:disabled {
    opacity: .5;
    pointer-events: none
}

.providers-carousel_swiper {
    flex: 1 1
}
